<?xml version="1.0" encoding="utf-8"?>
<!--   Copyright (c) 2014. Jean-Francois Berube, all rights reserved. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dontbelievethebyte.skipshuffle" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/label_app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.PlayerActivity"
            android:label="@string/label_app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MusicContentBrowserActivity"
            android:label="@string/label_playlist" >
        </activity>

        <service android:name=".service.SkipShuffleMediaPlayer" >
        </service>

        <receiver android:name=".ui.remote.widgets.widget.SkipShuffleWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/skip_shuffle_widget_info" />
        </receiver>
    </application>
</manifest>
