<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dontbelievethebyte.skipshuffle" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_skipshuffle_launcher"
        android:label="@string/label_app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/CustomActionBarTheme"
            android:launchMode="singleTop"
            android:label="@string/label_app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <service android:name=".services.SkipShuffleMediaPlayer" />
        <service android:name=".services.MediaScannerService" />
    </application>

</manifest>
